# PostgreSQL (Aiven Cloud)
DB_URL=jdbc:postgresql://postgres:123456@localhost:1234/meubanco
DB_HOST=pg-xxxxxxxx.aivencloud.com
DB_PORT=12345
DB_NAME=defaultdb
DB_USER=avnadmin
DB_PASSWORD=xxxxxxxxxxxxxxxx
DB_SSL=sslmode

# JWT
JWT_SECRET=xxxxxxxxxxx
JWT_EXPIRATION_MS=3600000

# Server
SERVER_PORT=3000